
.card{
    flex: 0 0 18.5%;
    cursor: pointer;
    box-shadow: 7px 7px 34px 8px rgba(0,0,0,0.33);
    margin-top: 20px;
    transition: all .2s;
}

.card:hover{
    transform: translateY(-10px);
}

.card:not(:nth-of-type(5n)){
    margin-right: 27px;
}

.img{
    width: 100%;
}

.player-name{
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    text-transform: capitalize;
}

.player{
    display: flex;
    justify-content: space-between;
    padding: 6px 7px;
}
.bold{
    font-weight: bold;
}